body{
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

img{
    border-radius: 10px;
}


.section{
    display: flex;
    gap:1rem;
    margin:0 auto;

}

.section .shopping{
    height: 85vh;
    margin: 0 auto;
    
}

.section .shopping img{
    width: 350px;
}

.header {
    background-color: darkblue;
    color: white;
    height:6vh ;
    padding: 12px;
    position: sticky;
    top: 0;
}

.header .menu{
    margin:0 auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 25rem;

}

.header .menu ul{
    display: flex;
    gap: 1rem;
}

.header .menu ul li{
    text-align: center;
    list-style: none;
}

.header .menu ul li a{
    text-decoration: none;
    color: white;
}


.header .welcome{
    font-size: small;
    color: white;
}
.header .nav .profile .circle{
    position: absolute;
    right: 1rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top:3px;
    text-align: center;
    background-color: rgb(158, 151, 151);
}
.header .nav .profile .circle p {
    color: white;
    font-size: x-large;
    position: relative;
    top: -20px;
    
}
.header .nav .profile .circle img{
    width: 30px;
}


.header .nav .profile .circle:hover {
    cursor: pointer;
}

.header .box{
    position: absolute;
    right: 0%;
    top: 3.3rem;
    display: none;
    transition: 3s;
    width: 200px;
    background-color: #dbd7d7fb;
    padding:0 12px;
    z-index: 1000;
    flex-direction: column;
    gap: 1rem;
    border-radius: 4px;
    height: 89vh;
}

.header .box .close{
    position: absolute;
    top: 5px;
    font-size: small;
    right: 1rem;
    color: red;
    

}
.header .box .close:hover {
    cursor: pointer;


}

.header .box p{
    width: 100%;
    border-bottom: 1px solid;
    padding:4px 0;
    color: black;
    
}

.header .box a{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
    padding: 4px 2px;
}





.main{

    text-align: center;
    padding: 12px;
    display: flex;
    margin-left: 6rem;
    

}

.main .development{
    background-color: #ffc107;
    padding: 12px;
    border-radius: 4px;
    
}

.main .development img{
    width: 550px;

}

.main .development #signup_img{
    width: 420px;
}

.main .userform{
    background-color: #2222;
    min-height: 83vh;
    width: 500px;
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    
}
.main form {
    margin: 0 auto;
    text-align: left;
    width: 350px;
    padding: 12px;
    border-radius: 2px;

}

.main form h1 {
    font-size: 20px;
}
.main form .span{
    display: flex;
    gap: 1rem;
}
.main form .field {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

}

.main form .field button {
    width: 100%;
    background-color: black;
    text-align: center;
    border: none;
    color: white;
    padding: 8px 0;


}

.main form .field a{
   
    color: blue;


}

.main form .field button:hover {
    background-color: #333;
}

.footer{
    background-color: #333;
    color: white;
    padding: 12px;
    text-align: center;
    
}

.flash-container {
    position: absolute;
    text-align: center;
    right: 0;
    z-index: 1000;

}

.flash {
    padding: 12px 18px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.4s ease;
}

.flash.success {
    background: #28a745;
}

.flash.error {
    background: #dc3545;
}

.flash.warning {
    background: #ffc107;
    color: black;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media screen and (max-width: 700px){
   

    .main{
        margin-left: auto;
        margin: auto;
        flex-direction: column;

    }
    .main form .span {
        flex-direction: column;
     }

     .main .development{
        width:auto;
    
     }
     .section .shopping img{
        width: 210px;
     }

     h1{
        font-size: small;
     }
     .main .userform form{
        margin: 0 auto;
        width: 210px;
        height:auto;
     }

     .main .development img{
        width: 10px;
     }

     .welcome{
        display: none;
     }
    .header .menu {
             
             left: auto;   
    }
    
}

@media screen and (max-width: 1080px) {
    h1{
        font-size: 12px;
    }

    .main {
        margin: auto;
    }

    .main form .span {
        flex-direction: column;
    }

    .main .userform{
        width: auto;
    }

    .main .development img{
        width: 400px;
        
    }
}

@media screen and (max-width: 900px) {

    .main .development{
        width: 270px;
    }

    .main .development img{
        width: 250px;

    }

    .main .development #signup_img{
        width: 250px;
    }
}